# Lists:-
# python Lists are containers to store a set of values of any data type.

In [1]:

#create a lists using []
a=[1,2,3,56,78]
# print the list using print function.
print(a)
# Access using index using a[0],a[1],a[3]
print(a[4])
# change the value of lists using
a[0]=23
print(a)
#we can create a list with item of defferent types
c=[34,"shibu",True,3,9]
print(c)

[1, 2, 3, 56, 78]
78
[23, 2, 3, 56, 78]
[34, 'shibu', True, 3, 9]

# List slicing

In [2]:
Frinds=["shibu","Akash","Rohan","67"]
print(Frinds[0:2])
print(Frinds[-2:])

['shibu', 'Akash']
['Rohan', '67']

# Lists Methods

In [3]:
l1=[2,3,4,5,6,56,8,22,67]
print(l1)
l1.sort()
print(l1)
# sort the list

[2, 3, 4, 5, 6, 56, 8, 22, 67]
[2, 3, 4, 5, 6, 8, 22, 56, 67]

In [4]:
l2=[1,2,3,4,5,6,7,8]
l2.reverse()
print(l2)
# reverse the list

[8, 7, 6, 5, 4, 3, 2, 1]

In [5]:
l3=[34,35,36,37]
l3.append(38)
l3.append(45)
print(l3)
# adds at the end of the list

[34, 35, 36, 37, 38, 45]

In [6]:
l4=[2,3,7,8,9]
print(l4)
l4.insert(4,890)#insert 890 at 4 index
l4.insert(0,790)#insert 790 at 0 index
print(l4)

[2, 3, 7, 8, 9]
[790, 2, 3, 7, 8, 890, 9]

In [7]:
l5=[2,3,4,56,6,7]
l5.pop(5)# removes element at index 5

7

In [8]:
l6=[67,90,80,900,890]
l6.remove(80)
print(l6)#removes 80 from the list

[67, 90, 900, 890]

# Tuples:-
# A Tuple is an immutable data type in python.
# immutable means cannot change

In [9]:
# create a tuple using ()
t1=()# this is Empty tuple
print(t1)

()

In [10]:
t2=(1,)
print(t2)
# Tuple with single element

(1,)

In [11]:
t3=(4,5,6,8,8)
print(t3)
# Tuple with more than one element

(4, 5, 6, 8, 8)

# Tuples methods

In [12]:
t=(3,4,2,6,7,7,7,9,0,8,4,3)
print(t.count(7))
print(t.count(8))

3
1

In [13]:
t=(3,4,2,6,7,7,7,9,0,8,4,3)
print(t.index(7))
print(t.index(0))

4
8

In [14]:
#1 write a program to store seven fruits in a list entered bf1=input("Entery the user
f1=input("Enter the fruit number 1\n")
f2=input("Enter the fruit number 2\n")
f3=input("Enter the fruit number 3\n")
f4=input("Enter the fruit number 4\n")
f5=input("Enter the fruit number 5\n")
f6=input("Enter the fruit number 6\n")
f7=input("Enter the fruit number 7\n")
myfruitList=[f1,f2,f3,f4,f5,f6,f7]
print(myfruitList)

Enter the fruit number 1
mango
Enter the fruit number 2
apple
Enter the fruit number 3
banana
Enter the fruit number 4
orange
Enter the fruit number 5
gava
Enter the fruit number 6
civi
Enter the fruit number 7
pineapple
['mango', 'apple', 'banana', 'orange', 'gava', 'civi', 'pineapple']

In [22]:
#2 write a program to accept marks of 6 students and display then in a sorted manner
m1=int(input("Enter marks for student number 1: "))
m2=int(input("Enter marks for student number 2: "))
m3=int(input("Enter marks for student number 3: "))
m4=int(input("Enter marks for student number 4: "))
m5=int(input("Enter marks for student number 5: "))
m6=int(input("Enter marks for student number 6: "))
myLists=[m1,m2,m3,m4,m5,m6]
myLists.sort()
print(myLists)

Enter marks for student number 1: 90
Enter marks for student number 2: 56
Enter marks for student number 3: 56
Enter marks for student number 4: 67
Enter marks for student number 5: 62
Enter marks for student number 6: 55
[55, 56, 56, 62, 67, 90]

In [23]:
#3 Check that a tuple cannot be changed in python.
t=(43,55,6,7)
t[0]=33

TypeError: 'tuple' object does not support item assignment

In [25]:
#4 write a program to sum a list with 4 numbers.
a=[50,50,50,50]
print(a[0]+a[1]+a[2]+a[3])
print(sum(a))

200
200

In [27]:
#5 write a program to count the number of zero in the following tuple
a=(7,0,8,0,0,9)
print(a.count(0))

3

# diff.b\w Lists and Tuple
# List is mutable
# Tuple is immutable

In [1]:
m1=int(input("Enter marks for student number 1: "))
m2=int(input("Enter marks for student number 2: "))
m3=int(input("Enter marks for student number 3: "))
m4=int(input("Enter marks for student number 4: "))
m5=int(input("Enter marks for student number 5: "))
m6=int(input("Enter marks for student number 6: "))
sum=[m1+m2+m3+m4+m5+m6]
#print(sum)
average=sum/6
print(average)

Enter marks for student number 1: 9
Enter marks for student number 2: 78
Enter marks for student number 3: 8
Enter marks for student number 4: 8
Enter marks for student number 5: 8
Enter marks for student number 6: 8

TypeError: unsupported operand type(s) for /: 'list' and 'int'