# while loop

In [6]:
i=0
while i<10:
    print("yes "+str(i))
    i=i+1
print("done")

yes 0
yes 1
yes 2
yes 3
yes 4
yes 5
yes 6
yes 7
yes 8
yes 9
done

In [1]:
# quick quig:write a program to print 1 to 50 using a while loop.
i=1
while i<=50:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [2]:
i=0
while i<5:
    print("shibu")
    i=i+1

shibu
shibu
shibu
shibu
shibu

In [3]:
# quick quiz:write a program to print 1 to 50 using a while loop.
fruits=["apple","orange","banana","grapes"]
i=0
while i<len(fruits):
    print(fruits[i])
    i=i+1

apple
orange
banana
grapes

# for loop

In [1]:
fruits=["apple","orange","banana","grapes"]
for item in fruits:
    print(item)

apple
orange
banana
grapes

# Range function:-
# generate a sequence of numbers

In [2]:
for i in range (8):
    print(i)

0
1
2
3
4
5
6
7

In [3]:
for i in range (1,8):# start 1 to
    print(i)

1
2
3
4
5
6
7

In [4]:
for i in range (2,8):# start 2 to
    print(i)

2
3
4
5
6
7

# for loop with else

In [5]:
for i in range (10):
    print(i)
else:
    print("this is inside else of for")

0
1
2
3
4
5
6
7
8
9
this is inside else of for

In [6]:
l=[1,7,8]
for item in l:
    print(item)
else:
    ("done")

1
7
8

# the break statement

In [8]:
for i in range (10):
    print(i)
    if i==5:
        break

0
1
2
3
4
5

# continue statement

In [13]:
for i in range (10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

# pass statment:-
# pass is a null statement in python.
# it instructs to "do nothing"

In [17]:
l=[1,2,3]
for item in l:
    pass

In [19]:
i=4
if i>0:
    pass
while i>6:
    pass
print("Harry is a good boy")

Harry is a good boy