In [1]:
 # 1.write a program to print multiplication table of a given number using for
#loop.
num=int(input("enter the number"))
for i in range(1,11):
    print(str(num) + " X " + str(i) + "=" + str(i*num))

enter the number5
5 X 1=5
5 X 2=10
5 X 3=15
5 X 4=20
5 X 5=25
5 X 6=30
5 X 7=35
5 X 8=40
5 X 9=45
5 X 10=50

In [2]:
#2. write a program to greet all the person names stored in a list l1 and which 
# starts with s
# l1=["harry","sohan","sachine","rahul"]
l1=["harry","sohan","sachine","rahul"]
for name in l1:
    if name.startswith("s"):
        print("Hello"+name)

Hellosohan
Hellosachine

In [3]:

#3. attempt problem 1 using while loop.
num=int(input("enter the number"))
i=1
while i>=10:
    print(str(num) + " X " + str(i) + "=" + str(i*num) )
    i=i=1

enter the number5

In [4]:
# 4. write a program to find whether a given number is prime or not.
num=int(input("enter the nunber: "))
prime=True
for i in range(2,num):
    if(num%i==0):
        prime=False
        break
if prime:
    print("this number is prime")
else:
    print("this number is not prime")

enter the nunber: 5
this number is prime

In [5]:
#5. write a program to find the sum of first n natural numbers using
#while loop. 
N = int(input("Enter a natural number: "))

answer=0

i=1
while i<=N:
	answer = answer + i
	i=i+1

print(answer)

Enter a natural number: 6
21

In [6]:
 #6. write a program to calculate the factorial of a given
#number using for loop.
num=int(input("enter the nunber: "))
factorial=1
for i in range(1, num+1):
    factorial=factorial*i
print(f"the factorial of {num} is {factorial}")

enter the nunber: 4
the factorial of 4 is 24

In [17]:
#7. write a program to print the following star pattern 
#  *
# ***
#*****for n=3
n=3
for i in range(3):
    print(" " * (n-i-1), end="")
    print("*" * (2*i+1),end="")
    print(" " * (n-i-1))

  *
 ***
*****

In [16]:
 #8. write a program to print the following star pattern:
    #   *
    #   **
    #   *** for n=3
n=3
for i in range(3):
    print("*" * (i+1))

*
**
***

In [9]:
 #9. write a program to print follwing star pattern
    #  * * *
    #  *   *    for n=3
    #  * * *

In [4]:
#10. write a program to print multiplication table of n using for loop in 
# reversed order.
num=int(input("enter the number"))
for i in range(10,0,-1):
    print(str(num) + " X " + str(i) + "=" + str(i*num))

enter the number5
5 X 10=50
5 X 9=45
5 X 8=40
5 X 7=35
5 X 6=30
5 X 5=25
5 X 4=20
5 X 3=15
5 X 2=10
5 X 1=5

In [1]:
table = int(input("Enter the table: "))

limit = int(input("Enter the ending : "))

for i in range(limit,0,-1):
    print(i,"*",table,"=",i*table)

Enter the table: 5
Enter the ending : 10
10 * 5 = 50
9 * 5 = 45
8 * 5 = 40
7 * 5 = 35
6 * 5 = 30
5 * 5 = 25
4 * 5 = 20
3 * 5 = 15
2 * 5 = 10
1 * 5 = 5

In [9]:
#i=5
for i in range(1,4):

SyntaxError: unexpected EOF while parsing (<ipython-input-9-02d93d5d7165>, line 2)