In [4]:
b='''Shibu"s and
Shibu's'''
print(b)
print(type(b))

Shibu"s and
Shibu's
<class 'str'>

# String_slicing.py

In [3]:

name="Shibu"
print(name[0])
print(name[3])
print(name[4])
print(name[-1])
print(name[-2])
print(name[-3])

S
b
u
u
b
i

# slicing.py

In [5]:

name="Shibu"
print(name[0:4])
print(name[0:3])
print(name[0:2])
print(name[::-1])
print(name[2:4])

Shib
Shi
Sh
ubihS
ib

# negative indics

In [6]:

name="Shibu"
print(name[-4:-1])
print(name[-3:-2])

hib
i

# slicing with skip value

In [1]:

name="shibu"
print(name[2:4:3])
print(name[1:4:1])

i
hib

# string function

In [18]:

story="my name is shibu kumari i am from bihar."
print(len(story))
print(story.endswith("."))
print(story.count(story))
print(story.count("s"))
print(story.capitalize())
print(story.find("my"))
print(story.find("name"))
print(story.replace("shibu","abhay"))

40
True
1
2
My name is shibu kumari i am from bihar.
0
3
my name is abhay kumari i am from bihar.

# Escape sequence characters

In [10]:
story="shibu is good girl.\n she is very good."

print(story)

shibu is good girl.
 she is very good.

# 1write a python program to display a user entered name followed by Good Afternoon using input() function


name=input("enter your name")
print("Good Afternoon," + name)

# 3 write a program to delect double spaces in a string

In [4]:

st="this is a string with double  spaces"
doubleSpaces=st.find("  ")
print(doubleSpaces)

28

# 2 write a program to fill in a letter template given below with name and date

In [2]:

letter='''Dear <|NAME|>,
greeting from abc coding house. i am happy to tell you about your selection.
You are selected!
Have a great day ahead!
thanks and regards
bill
Date: <|DATE|>
'''
name=input("Enter your name\n")
date=input("Enter DATE\n")
letter=letter.replace("<|NAME|>",name)
letter=letter.replace("<|DATE|>",date)
print(letter)

Enter your name
shibu
Enter DATE
14 Aug
Dear shibu,
greeting from abc coding house. i am happy to tell you about your selection.
You are selected!
Have a great day ahead!
thanks and regards
bill
Date: 14 Aug

# 4replace the double spaces from problem 3 with single spaces

In [6]:

st="this is a string with double  spaces"
st=st.replace("  "," ")
print(st)

this is a string with double spaces

# 5write a program to format the following letter using eslap sequence characters.

In [2]:

letter="Dear Shibu,this python cource is nice.thanks"
print(letter)
formatted_letter="Dear Shibu,\nthis python cource is nice.\nthanks"
print(formatted_letter)

Dear Shibu,this python cource is nice.thanks
Dear Shibu,
this python cource is nice.
thanks

In [9]:
str="python programming"
print(str)
print(len(str))
print(str[7:11])
print(str[7:8])
print(str[0:11])
print(str[7:11:12])

python programming
18
prog
p
python prog
p

In [2]:
b='shibu'
print(b[1:3])

hi

In [4]:
my_list=["shibu","kumari"]
my_list.append("yadav")
print(my_list)

['shibu', 'kumari', 'yadav']

In [5]:
my_list=['Darsan','institute','rajkot']
my_list.insert(2,'of')
my_list.insert(3,'engineering')
print(my_list)

['Darsan', 'institute', 'of', 'engineering', 'rajkot']

In [7]:
my_list1=['Darsan','institute',]
my_list2=['rajkot','gujrat']
my_list1.extend(my_list2)
print(my_list1)

['Darsan', 'institute', 'rajkot', 'gujrat']

In [8]:
my_list=['Darsan','institute','rajkot']
my_list.pop()
print(my_list)

['Darsan', 'institute']

In [13]:
my_list=['darshan','institute','darshan','rajkot']
my_list=my_list.remove('darshan')
print(my_list)

['institute', 'darshan', 'rajkot']

In [14]:
my_list=['darshan','institute','darshan','rajkot']
my_list.clear()
print(my_list)

[]

In [19]:
my_list=['darshan','institute','darshan','rajkot']
c=my_list.count('darshan')
print(c)

2

In [21]:
my_list=['darshan','institute','darshan','rajkot']
my_list.reverse()
print(my_list)

['rajkot', 'darshan', 'institute', 'darshan']

In [26]:
my_list=['darshan','institute','darshan','rajkot']
my_list.sort()
print(my_list)

['darshan', 'darshan', 'institute', 'rajkot']

In [32]:
my_list=('darshan','institute','darshan','rajkot')
print(my_list.index('darshan'))
print(my_list)

0
('darshan', 'institute', 'darshan', 'rajkot')

In [41]:
def recursion_function(n):
    if n==1:
        return n
    else:
        return n* recursion_function(n-1)
num=int(input("enter the number :"))
if(num<0):
    print("sorry,factorial of negatine number is not allowed")
elif(num==0):
     print("factorial of 0 number is 1 allowed")
else:
    print("factorial of",num,recursion_function(num))

enter the number :9
factorial of 9 362880